.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapper {
  border: 1px solid #ddd;
  height: 500px;
  width: 60%;
}
.content-wrapper h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0 0 8px;
}
.content-wrapper p {
  margin-top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
